#banner {
    display: flex;
    margin: 30px 100px;
    padding: 80px;
    background: linear-gradient(313deg, #EE9AB5 3.28%, #5961F9 97.04%);
    border-radius: 48px 48px 300px  48px;
    
}

h1 {
    font-family: "Jost";
    color: white;
    font-size: 55px;
    line-height: 124%;
    letter-spacing: -1%;

}

#banner img {
    width: 550px;
    height: 370px;
}

.banner__texts p {
    font-family: "Jost";
    color: white;
    font-size: 14px;
}