#menu {
    background-color: rgb(179, 110, 179);
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

#inicio,
#quienes,
#contacto {
    color: white;
    position: relative;
    transition: background-color 0.3s;
    cursor: pointer;
    
}

#inicio:hover::before,
#quienes:hover::before,
#contacto:hover::before {
    content: "hover";
    background-color: blue;

}