#menu {
    background-color: rgb(179, 110, 179);
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

#inicio,
#quienes,
#contacto {
    color: white;
    font-size: 20px;
    position: relative;
    transition: background-color 0.3s;
    cursor: pointer;
    
}


div :hover {
    background-color: blue;
    color: white;
    border: 0px;
    cursor: pointer;
}